[GSHELL]
# Put here the path to your credentials.json.
# You can download them from here: https://console.cloud.google.com/projectselector2/apis/dashboard
# Read the documentation for more info
credentials = path/to/your/credentials.json

## Name of the generated Google Doc
filename = GDoc Shell

# You can change the location of the pid file but make sure you have write access in this new location
pid_path = pid/gdoc_shell.pid

# How often the daemon function will be executed (in seconds)
sleep_time = 60

# Add any valid command to the list
# WARNING: Any command here will be executed. Make sure that only
# authorized users have access to your doc (preferably only you)
# Be very careful with the commands you allow and make sure you
# double check who can access the document.
valid_commands = ls, pwd, touch